.cars_styles{
    font-family:Times New Roman;
    font-size:20px;
//     background-color:#e6ffcc;
}

.name_styles{
    font-family:Monaco;
    font-size:25px;
    color:#141d73;
    font-weight:bold;
    // background-color:yellow
}

.img{
    width:130px;
    height:90px;
    border-radius:10px
}

.float-container {
    padding: 0px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 10px;
//     border: 2px solid red;
}

.h2{
    font-family:Monaco;
    font-size:25px;
    color:#21177a;
    font-weight:bold;
    // background-color:yellow
}